name: Deno Main CI

on: 
  push:
      branches:
        - master

jobs:
  main:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        deno-version: [1.2.2]

    steps:
      - name: Git Checkout
        uses: actions/checkout@v2
      - name: Use Deno Version ${{ matrix.deno-version }}
        uses: denolib/setup-deno@v2
        with:
          deno-version: ${{ matrix.deno-version }}
      - name: Deno Lint 
        run: deno fmt --check
      - name: Deno Test
        run: deno test test/
      - name: Create .pem Key
        run: |
            touch src.pem
            echo ${{ secrets.CHROME_KEY }} >> src.pem
      - name: Create .crx file
        run: google-chrome --pack-extension=src --pack-extension-key=src.pem
      - name: Upload .crx as Artifact
        uses: actions/upload-artifact@v2
        with:
          name: chrome-extension
          path: src.crx
